# stable base style
BasedOnStyle: LLVM
Language: Cpp

# layout
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 8

# braces
BreakBeforeBraces: Linux
# constructor initializer handling
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

# pointer/reference alignment
PointerAlignment: Left
ReferenceAlignment: Right

# comments
ReflowComments: true

# functions
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
